:root {
    --main-color: #2b2d42;
    --secondary-color: #8d99ae  ;
    --rd-color: #edf2f4;
    --font-roboto: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 5% auto;
    scroll-behavior: smooth;
    background-color: var(--main-color);
}

.special-heading {
    color: var(--rd-color);
    font-size: 64px;
    letter-spacing: -3px;
    margin: 0px 0px 0px 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 100vh;
    margin: 0px;
}

.container-header {
    height: 100%;
    background-color: #0b090a;
    border: 2px solid var(--rd-color);
}

.header .logo {
    width: 100%;
    top: 0;
}

.ver-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    padding: 20px;
    font-size: 24px;
}

.ver-text:hover {
    text-decoration: underline;
    font-size: 26px;
    cursor: pointer;
    color: #ef233c;
}

.ver-text a {
    text-decoration: none;
    color: var(--secondary-color);
}

.content {
    padding-left: 15px;
}

.content .Home h2{
    color: var(--rd-color);
    font-size: 40px;
    font-weight: 400;
}

/**/
.wrapper .static-txt {
    color: var(--rd-color);
    font-size: 60px;
    font-weight: 400;
    padding-left: 10px;
}

.wrapper .dynamic-txts {
    margin-left: 25px;
    padding-left: 70px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: var(--rd-color);
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 130%;
    width: 100%;
    background: var(--main-color);
    border-left: 2px solid var(--secondary-color);
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

/**/
.container-Home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container-Home .text{
    padding: 10% 0 0 3%;
}

.container-Home .Home-img {
    width: auto;
    height: 100vh;
    right: 10px;
    position: relative;
    top: 0px;
    padding-top: 0px;
}

.container-Home .text a {
    padding: 10% 3%;
}

.container-Home .text button {
    width: 40%;
    height: 10%;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 15px;
}

.Home .container-Home .contact-icons {
    font-size: 40px;
    padding: 5% 0;
}

.Home .container-Home .contact-icons a {
    padding-right: 3%;
    color: var(--rd-color);
}

.About .container-about {
    display: grid;
    grid-template-columns: 60% 30%;
    position: relative;
}

.About .container-about p {
    font-size: 1.7em;
    padding: 0% 6%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: var(--rd-color);
}

.About .container-about .about-img {
    position: relative;
    top: 10px;
}

.Education .container-Education {
    display: flex;
    position: relative;
    justify-content: center;
}

.Education .container-Education .col {
    display: flex;
    width: 90%;
    justify-content: center;
    padding-top: 2%;
}

.Education .container-Education .col .card {
    border: 1px solid black;
    padding: 2%;
    height: auto;
    width: 90%;
    margin-left: 3%;
    border-radius: 50px;
    background-color: var(--secondary-color);
}

.Education .container-Education .col .card:first-child {
    margin-left: 0;
}

.Education .container-Education .col .card p:first-child{
    font-size: 1em;
    margin-bottom: 0;
}

.Education .container-Education .col .card p:nth-child(2) {
    font-size: 2.5em;
    margin: 10px 0;
}

.Education .container-Education .col .card p:last-child {
    font-size: 1.5em;
}

.Skills {
    padding-top: 3%;
}

.Skills .container-Skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.Skills .container-Skills span {
    padding: 10px;
    border-radius: 15px;
    background-color: var(--secondary-color);
}

.Contact {
    padding-top: 3%;
}

.Contact .container-Contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 3%;
}

.Contact .info {
    display: flex;
    flex-direction: column;
}

.Contact .info p {
    font-size: 1.5em;
    color: var(--rd-color);
    margin: 10px 20px;
}

.Contact .info i {
    margin-right: 10px;
    font-size: 1.5em;
    color: var(--rd-color);
}

.Contact .box {
    display: flex;
    flex-direction: column;
}

.Contact .box form {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.Contact .box input,
.Contact .box textarea {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

.Contact .box button.Send {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: var(--secondary-color);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

